.partner{
    margin: 80px 0;
    p{
        text-align: center;
        font-family: "Roboto",sans-serif;
        font-size: 18px;
        font-weight: 400;
    }
    &-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top:60px;
    }
}