.testimonial {
  .sub-title-testimonial {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #4353ff;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .title-testimonial {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 54px;
    letter-spacing: 2px;
    margin-top: 15px;
  }

  .testimonial-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
  }

  &-left {
    width: 60%;
  }
  &-right {
    width: 50%;
    img {
      margin-top: 25px;
      margin-bottom: 26px;
    }
    .right-text {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.5;
      margin-bottom: 60px;
    }
  }

  &-texts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__left {
      p:nth-child(1) {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 8px;
      }
      p:nth-child(2) {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: black;
      }
    }
    &__right {
      button {
        padding: 20px 23px;
        background: #000;
        color: white;
        transition: .3s ease;
        cursor: pointer;
        &:hover{
            background: transparent;
            color: black;
            border: 1px solid #ddd;
        }
      }
      
    }
  }
}
